-
  var checkoutData = {
    title: "Оформление <span>Заказа</span>",
    text: "Перед заполнением формы ознакомьтесь с&nbsp;нашей схемой работы!",
    list: [
      {
        name: "first",
        width: 100,
        height: 100,
        text: "Lorem ipsum dolor sit amet"
      },
      {
        name: "second",
        width: 100,
        height: 100,
        text: "Сonsecteturadipiscing elit"
      },
      {
        name: "third",
        width: 100,
        height: 100,
        text: "Sed do eiusmod tempor"
      },
      {
        name: "forth",
        width: 100,
        height: 100,
        text: "Esse cillum dolore eu fugiat"
      },
      {
        name: "fifth",
        width: 100,
        height: 100,
        text: "Excepteur sint occaecat cupidatat non proident"
      },
    ],
    form: {
      inputs: [
        {
          label: "Ваш e-mail",
          name: "email",
          type: "email",
          placeholder: "Ваш e-mail"
        },
        {
          label: "Ваше имя",
          name: "client-name",
          type: "text",
          placeholder: "Ваше имя"
        },
      ],
      fileInput: {
        label: "Прикрепить файл",
        name: "client-file",
        type: "file",
        placeholder: "Прикрепить файл"
      },
      select: {
        name: "select",
        placeholder: "Выберите тип системы",
        options: [
          {
            placeholder: true
          },
          {
            value: "1",
            text: "Sed ut perspiciatis",
          },
          {
            value: "2",
            text: "Nemo enim ipsam",
          },
          {
            value: "3",
            text: "Et harum quidem",
          },
          {
            value: "4",
            text: "Temporibus autem",
          },
          {
            value: "5",
            text: "Itaque earum rerum",
          },
          {
            value: "11",
            text: "1Sed ut perspiciatis",
          },
          {
            value: "21",
            text: "1Nemo enim ipsam",
          },
          {
            value: "31",
            text: "1Et harum quidem",
          },
          {
            value: "41",
            text: "1Temporibus autem",
          },
          {
            value: "51",
            text: "1Itaque earum rerum",
          },
        ]
      },
      rangeSlider: {
        name: "some-value",
        min: 1,
        max: 100,
        start: 75,
        valueText: "Sed ut perspiciatis, unde omnis iste natus",
        suffix: "%"
      }
    }
  }
