-
  var paysystems = [
    {
      href: "#",
      id: "qiwi",
      text: "Qiwi wallet"
    },
    {
      href: "#",
      id: "ya-money",
      text: "Yandex Money"
    },
    {
      href: "#",
      id: "web-money",
      text: "Web Money"
    },
  ]

  var contacts = [
    {
      href: "mailto: info@ipsum228.com",
      id: "mail",
      text: "info@ipsum228.com"
    },
    {
      href: "#",
      id: "vk",
      text: "Мы вконтакте"
    },
  ]
