-
  var headerNav = [
    {
      href: "#",
      text: "Бизнес",
      page: "main"
    },
    {
      href: "#",
      text: "О нас"
    },
    {
      href: "#",
      text: "Цены"
    },
    {
      href: "#",
      text: "Оформить заказ"
    },
  ]
