.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 13px 10px;
  user-select: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  color: $color-vulcan;
  background-color: $color-default-white;
  border: 1px solid $color-storm;
  cursor: pointer;
  transition: transform $trans--300, border $trans--300, box-shadow $trans--300;
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    border-color: $color-picton;
    box-shadow: 0 7px 7px -5px $color-picton;
    transform: translateY(-0.25em);
  }

  &--blue {
    color: $color-default-white;
    background: $color-havelock;
    border: 1px solid $color-default-white;
    transition: transform $trans--300, box-shadow $trans--300, border 0.1s ease;

    @include hover-focus {
      border-color: $color-storm;
      box-shadow: 0 7px 7px -5px $color-storm;
    }
  }
}
