.checkout {
  position: relative;
  background-color: $color-charade;

  &__wrapper {
    padding: 120px 0 148px;
    position: relative;
    z-index: 1;

    @include vp--767 {
      padding: 50px 0 50px;
    }
  }

  &__title {
    @include reset-block;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
    color: $color-default-white;

    span {
      color: $color-havelock;
    }

    @include vp--767 {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__description {
    @include reset-block;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $color-silver;

    @include vp--767 {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 40px;
    }
  }


  &__stages {
    @include reset-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 85px;
    gap: 30px;
    overflow: hidden;

    @include vp--767 {
      flex-direction: column;
      margin-bottom: 40px;

      &:before {
        position: absolute;
        content: '';
        left: -15px;
        top: 50px;
        width: 6px;
        height: 100%;
        background-image: url("../img/bg/circle.svg");
        background-repeat: round;
        z-index: 0;
      }
    }
  }

  &__stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 209px;
    min-width: 209px;
    position: relative;
    z-index: 1;
    padding: 0 5px;
    gap: 21px;

    &:not(:first-of-type):not(:only-of-type) {
      &:before {
        position: absolute;
        content: '';
        left: -17px;
        top: 46px;
        width: calc(50% + 15px);
        height: 6px;
        background-image: url("../img/bg/circle.svg");
        background-repeat: round;
        z-index: 0;
      }
    }

    &:not(:only-of-type):not(:last-of-type) {
      &:after {
        position: absolute;
        content: '';
        right: -11px;
        top: 46px;
        width: calc(50% + 15px);
        height: 6px;
        background-image: url("../img/bg/circle.svg");
        background-repeat: round;
        z-index: 0;
      }
    }

    @include vp--767 {
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      padding: 0;

      svg {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
      }

      &:before,
      &:after {
        display: none;
      }
    }
  }

  &__text {
    @include reset-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $color-default-white;
    position: relative;
    z-index: 1;

    @include vp--767 {
      text-align: left;
    }
  }

  &__icon {
    position: relative;
    z-index: 1;
  }

  .range-slider__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-default-white;
    margin-bottom: 19px;
  }
}
