.header-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 60px;
  row-gap: 30px;
  margin-left: 30px;

  .link {
    &.active {
      pointer-events: none;
      cursor: auto;
      color: $color-picton;

      @include hover-focus {
        color: $color-picton;

        &:before {
          display: none;
        }
      }
    }
  }

  @include vp--767 {
    padding: 0 15px;
    margin-left: 0;
    background-color: rgba($color-vulcan, 0.9);
    position: absolute;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    left: 0;
    top: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height $trans--300;

    &.is-active {
      overflow-x: scroll;
      max-height: 100vh;
    }

    .link {
      width: auto;

      &:nth-of-type(1) {
        margin-top: 30px;
      }

      &:last-of-type {
        margin-bottom: 30px;
      }
    }
  }
}
