.hero {
  position: relative;
  display: flex;
  align-items: center;
  padding: 207px 0 202px;

  @include vp--767 {
    padding: 100px 0 50px;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 780px;
  }

  &__title {
    @include reset-block;
    margin-bottom: 87px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: $color-default-black;

    span {
      color: $color-havelock;
    }

    @include vp--767 {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__text {
    @include reset-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $color-default-black;
    margin-bottom: 10px;

    @include vp--767 {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__description {
    margin-bottom: 78px;

    @include vp--767 {
      margin-bottom: 30px;
    }
  }

  &__list {
    @include reset-list;
  }

  &__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-default-black;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 5px;
      background-color: $color-default-black;
    }

    @include vp--767 {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;

    .button {
      min-width: 183px;
    }
  }
}
