.ps {
  .ps__rail-y {
    background: $color-bright-grey;

    border-radius: 3px;
    width: 7px;

    &:hover {
      background: $color-bright-grey;
      border-radius: 3px;
      width: 7px;

      .ps__thumb-y {
        background: $color-havelock;
        border-radius: 3px;
        width: 7px;

        &:hover {
          background: $color-havelock;
          border-radius: 3px;
          width: 7px;
        }
      }
    }
  }

  .ps__thumb-y {
    border-radius: 3px;
    width: 7px;
    right: 0;
    background: $color-havelock;

    &:hover {
      background: $color-havelock;
      border-radius: 3px;
      width: 7px;
    }
  }
}
