/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable property-no-vendor-prefix */
.range-slider {
  display: flex;
  flex-direction: column;
}

.range-slider__target,
.range-slider__target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.range-slider__target {
  position: relative;
}

.range-slider__base,
.range-slider__connects {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.range-slider__base {
  width: calc(100% - 20px);
  left: 10px;
}

.range-slider__connects {
  z-index: 0;
  height: 4px;
  overflow: hidden;
  border-radius: 4px;
}

.range-slider__horizontal .range-slider__origin {
  height: 0;
}

.range-slider__horizontal .range-slider__handle {
  top: -14px;
  right: -12px;

  width: 24px;
  height: 24px;
}

.range-slider__touch-area {
  width: 100%;
  height: 100%;
}

.range-slider__origin {
  width: 100%;
  height: 10%;
}

.range-slider__horizontal {
  height: 6px;
  background-color: rgba($color-default-white, 0.7);
  border: 1px solid $color-default-white;
  border-radius: 5px;
  margin: 0;
}

.range-slider__handle {
  position: absolute;
  cursor: grab;

  width: 24px;
  height: 24px;

  background-color: $color-picton;
  border-radius: 16px;
  backface-visibility: hidden;
  border: 3px solid $color-jelly;

  &:active {
    cursor: grabbing;
  }
}

.range-slider__value {
  font-size: 18px;
  line-height: 22px;
  order: -1;

  span {
    margin-left: 10px;
  }
}
