mixin checkout(data)
  .checkout
    +bg-image("bg", "map-bg", "png", "100%", "auto")
    .container
      .checkout__wrapper
        h3.checkout__title!=data.title
        p.checkout__description!=data.text
        ul.checkout__stages
          each item in data.list
            li.checkout__stage
              +icon(item.name, item.width, item.height).checkout__icon
              p.checkout__text!=item.text
        form(action="#", method="get", id="checkout-form").form
          -
            var fromData = data.form;

          +select(fromData.select)

          each input in fromData.inputs
            +input-field({
              isRequired: true,
              labelText: input.label,
              name: input.name,
              type: input.type,
              placeholder: input.placeholder,
            })

          +rangeSlider(
            fromData.rangeSlider.name,
            fromData.rangeSlider.min,
            fromData.rangeSlider.max,
            fromData.rangeSlider.start,
            fromData.rangeSlider.valueText,
            fromData.rangeSlider.suffix
            )

          +input-field({
            isRequired: true,
            labelText: fromData.fileInput.label,
            name: fromData.fileInput.name,
            type: fromData.fileInput.type,
            iconId: "doc",
            iconWidth: 17,
            iconHeight: 20,
          })

          .form__submit
            +button({text: "Отправить", type: "submit"}).button--blue
