mixin hero(data)
  .hero
    +bg-image("bg", "hero", "png", "100%", "auto")
    .container
      .hero__wrapper
        h2.hero__title!=data.title
        .hero__description
          p.hero__text!=data.text
          ul.hero__list
            each item in data.list
              li.hero__item!=item
        .hero__btns
          +button({text: "заказать"}).button--blue
          +button({text: "подробнее"})
